services:
  # Backend server
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
    restart: unless-stopped

  # Frontend client
  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    restart: unless-stopped
